$square-size: 60px;

.square {
  display: block;
  float: left;
  height: 12.5%;
  width: 12.5%;
  position: relative;
  box-sizing: border-box;

  p {
    color: green;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
  }
}

.dark-square {
  background-color: #6f3519;
}

.light-square {
  background-color: tan;
}

.droppable {
  box-shadow: 0 0 25px white;
  z-index: 100;
  border: 2px solid white;
}

.hover {
  background-color: #8a5d38;
}

.piece {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 0;
  opacity: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
}

.light-piece {
  background-color: #cc3530;
}

.dark-piece {
  background-color: #1f0606;
}

.active {
  cursor: pointer;
  box-shadow: 0 0 15px white;
}

.king {
  border: 2px solid gold;
}

.dragging {
  opacity: 0.3;
}

$length: 8 * $square-size;

.board {
  margin: 0 auto;
  margin-top: 50px;
  display: block;
  height: $length;
  width: $length;
}

