.square {
  display: block;
  float: left;
  height: 12.5%;
  width: 12.5%;
}

.black {
  background-color: black;
}

.white {
  background-color: red;
}

$length: 8 * 60px;

.board {
  margin: 0 auto;
  margin-top: 50px;
  display: block;
  height: $length;
  width: $length;
}

