.display {
  margin-top: 50px;
  text-align: center;
  display: block;
  font-size: 30px;
  font-family: roboto;

  .light {
    color: #cc3530;
  }

  .dark {
    color: #1f0606;
  }

  .flip {
    -webkit-perspective: 800;
    perspective: 800;
    position: relative;
  }
  .flip .flipped {
    animation: Flip 2s infinite;
    animation-iteration-count: infinite;
    -webkit-transform: rotatex(-540deg);
    transform: rotatex(-540deg);
  }
  .flip {
    height: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition: 2.5s;
  }
  .flip .face {
    -webkit-backface-visibility: hidden ;
    backface-visibility: hidden ;
    z-index: 2;
  }
  .flip .front {
    position: absolute;
    width: 100%;
    z-index: 1;
  }
  .flip .back {
    animation: Flip 2s infinite;
    animation-iteration-count: infinite;
    -webkit-transform: rotatex(-180deg);
    transform: rotatex(-180deg);
  }
}

